Python Basics

1 HELLO WORLD

In [3]:
print("Hello World")

Hello World

Assignment 1.1: WAP to print your name three times

In [8]:
for i in range(3):
    print("Aniket Gupta")

Aniket Gupta
Aniket Gupta
Aniket Gupta

2 Add numbers and Concatinate strings

2.1 Add two numbers

In [13]:
a = 10
b = 30
result = a+b
print(a,"+",b ,"->", result)

10 + 30 -> 40

2.2 Concatinate two strings

In [26]:
a = "Aniket"
b = " Gupta"
result = a + b		
print (a,"+", b,"->", result)

Aniket +  Gupta -> Aniket Gupta

2.3 Concatinate string with number

In [28]:
a = "Aniket"
b = 100
result = a + str(b)		
print (a,"+",b ,"->", result)

Aniket + 100 -> Aniket100

Assingment 2.1: WAP to add three numbers and print the result.

In [30]:
a= 100
b= 200
c= 300
result = a+b +c
print (a,"+",b ,"+",c ,"->", result)

100 + 200 + 300 -> 600

Assingment 2.2: WAP to concatinate three strings and print the result.

In [33]:
a = "Hey"
b = " Guys"
c = " Wassup"
result= a+b+c
print(result)

Hey Guys Wassup

3 Input from user

3.1 Input two strings from user and concatinate them

In [39]:
a = input("Enter 1st Value: ")
b = input("Enter 2nd Value: ")
result= a+b
print(a,"+",b ,"->", result)

Enter 1st Value:  Aniket
Enter 2nd Value:   Gupta

Aniket +  Gupta -> Aniket Gupta

3.2 Input two numbers from user and add them

In [44]:
a = int(input("Enter 1st Number: "))
b = int(input("Enter 2nd Number: "))
result= a+b
print(a,"+",b ,"->", result)

Enter 1st Number:  52
Enter 2nd Number:  25

52 + 25 -> 77

4 Loop

4.1 While Loop

In [50]:
i =1
while i<=7:
    print(i)
    i = i+1

1
2
3
4
5
6
7

4.2 Range Function

In [58]:
print ("range(5)        --> ", list(range(5)))
print ("range(5,10)     --> ", list(range(5,10)))
print ("range(0,20,2)    --> ", list(range(2,20,2)))
print ("range(-10,-20,2) --> ", list(range(-10,-20,2)))
print ("range(-10,-20,-2)--> ", list(range(-10,-20,-2)))

range(5)        -->  [0, 1, 2, 3, 4]
range(5,10)     -->  [5, 6, 7, 8, 9]
range(0,20,2)    -->  [2, 4, 6, 8, 10, 12, 14, 16, 18]
range(-10,-20,2) -->  []
range(-10,-20,-2)-->  [-10, -12, -14, -16, -18]

4.3 For loop

4.3.1 For loop - Version 1

In [66]:
for i in range(0,10):
    print (i)

0
1
2
3
4
5
6
7
8
9

4.3.2 For loop - Version 2

In [71]:
for i in range(0,20,2):
	print (i)

0
2
4
6
8
10
12
14
16
18

4.3.3 For loop - Version 3

In [74]:
for i in range(0,-10,-1):
	print (i)

0
-1
-2
-3
-4
-5
-6
-7
-8
-9

4.4 Print table of 5

In [79]:
for i in range(1,11):
    print(5,"*", i,"=", 5*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

4.5 Sum all numbers from 1 to 10

4.5.1 Version 1

In [91]:
sum =0
for i in range(1,11):
    sum= sum +i
print("Sum:", sum)

Sum: 55

4.5.2 Version 2

print("Sum:", sum(range(1,11)))

Sum: 55

Assingment 4.1: WAP to print the table of 7, 9.

Table of 7

In [115]:
for i in range(1,11):
    print(7,"*", i,"=", 7*i)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

Table of 9

In [118]:
for i in range(1,11):
    print(9,"*", i,"=", 9*i)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

Assingment 4.2: WAP to print the table of n and n is given by user.

In [121]:
n= int(input("Enter a number: "))
for i in range(1,11):
       print(n,"*",i,"=",n*i)

Enter a number:  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Assingment 4.3: WAP to add all the numbers from 1 to n and n is given by user.

In [128]:
n= int(input("Enter a number: "))
sum =0
for i in range(1,n):
    sum = sum +i
print("Sum:",sum)

Enter a number:  11

Sum: 55

5 If-Else - Conditional Checking

5.1 Input two numbers from user and compare them

In [132]:
a = int(input("Enter First Number: "))
b = int(input("Enter Second Number: "))
if  a > b:
	print (a," > ",b)
else:
	print (a," < ",b)

Enter First Number:  65
Enter Second Number:  87

65  <  87

5.2 Check weather a number is odd or even

In [135]:
num = int(input("Enter a Number: "))
if num%2 ==0:
    print(num, "is even")
else:
    print(num, "is odd")

Enter a Number:  87

87 is odd

5.3 Check weather a number is prime or not

In [147]:
num = int(input("Enter a number: "))
check =0
for i in range(2,num//2 +1):
    if num% i== 0:
        check = 1
        break
if check==1:
    print("Number is not prime")
else:
    print("Number is prime")

Enter a number:  43

Number is prime

5.4 Conditional Checking - Compare strings

In [152]:
a = input("Enter First String : ")
b = input("Enter Second String: ")

if a == b:
	print ("a == b")
elif a >= b:
	print ("a > b")
else:
	print ("a < b")

Enter First String :  Aniket
Enter Second String:  Gupta

a < b

Assingment 5.1: WAP to find max amoung three numbers and input from user. [Try max() function]

In [155]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

maximum = max(num1, num2, num3)
print("The maximum number is:", maximum)

Enter the first number:  45
Enter the second number:  65
Enter the third number:  76

The maximum number is: 76

Assingment 5.2: WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user.

In [160]:
n = int(input("Enter a number n: "))
sum = 0

for i in range(1, n + 1):
    if i % 7 == 0 and i % 9 == 0: 
        sum += i
        
print("The sum of numbers divisible by both 7 and 9 from 1 to", n, "is:", sum)

Enter a number n:  500

The sum of numbers divisible by both 7 and 9 from 1 to 500 is: 1764

Assingment 5.3: WAP to add all prime numbers from 1 to n and n is given by the user

In [173]:
num = int(input("Enter a number: "))
sum =0
for i in range(1,num+1):
    check =0
    for j in range(2,i//2 + 1):
        if i% j== 0:
            check = 1
            break
    if check==0 and i>1:
        sum = sum+i
print("The sum of primes from 1 to", n,"is:",sum)

Enter a number:  50

The sum of primes from 1 to 500 is: 328

6 Functions

6.1 Add two numbers

In [179]:
def Add(a,b):
	result=a+b
	return result

print ("Add(10,20) -->", Add(10,20))
print ("Add(20,50) -->", Add(20,50))
print ("Add(80,200) -->", Add(80,200))

Add(10,20) --> 30
Add(20,50) --> 70
Add(80,200) --> 280

6.2 Prime number

In [190]:
def IsPrime(num):
	for i in range(2, num//2 + 1):
		if num%i==0:
			return 0
	return 1

print ("IsPrime(28)  --> ", IsPrime(28))
print ("IsPrime(65)  --> ", IsPrime(65))
print ("IsPrime(2807) --> ", IsPrime(2807))
print ("IsPrime(379)  --> ", IsPrime(379))

IsPrime(28)  -->  0
IsPrime(65)  -->  0
IsPrime(2807) -->  0
IsPrime(379)  -->  1

6.3 Add 1 to n

In [203]:
def add(n):
    sum=0
    for i in range(1,n+1):
        sum= sum+i
    return sum

print ("add(13)  --> ", add(13))
print ("add(25)  --> ", add(25))
print ("add(56)  --> ", add(56))
print ("add(250) --> ", add(250))

add(13)  -->  91
add(25)  -->  325
add(56)  -->  1596
add(250) -->  31375


Assingment 6.1: WAP using function that add all odd numbers from 1 to n, n is given by the user.

In [210]:
n = int(input("Enter a number: "))
def add_odd(n):
    sum =0
    for i in range(1,n+1,2):
        sum = sum+i
    return sum

print("Sum of odd numbers upto", n,"=",add_odd(n))

Enter a number:  5

Sum of odd numbers upto 5 = 9

Assingment 6.2: WAP using function that add all prime numbers from 1 to n, n given by the user.

In [220]:
n = int(input("Enter a number: "))
def add_prime(n):
    sum =0
    for i in range(1,n+1):
        check =0
        for j in range(2,i//2 +1):
            if i%j==0:
                check =1
                break
        if check==0 and i>1:
            sum = sum+i
    return sum

print("Sum of prime numbers upto", n,"=",add_prime(n))

Enter a number:  10

Sum of prime numbers upto 10 = 17

7 Math library

In [223]:
import math as m
print ("exp(-200)    --> ", m.exp(-200))  
print ("log(100,2)   --> ", m.log(100,2)) 
print ("log(100,10)  --> ", m.log(100,10))
print ("log10(100)   --> ", m.log10(100)) 
print ("m.cos(30)    --> ", m.cos(30))    
print ("m.sin(30)    --> ", m.sin(30))    
print ("m.tan(30)    --> ", m.tan(30))    
print ("m.sqrt(324)  --> ", m.sqrt(324))
print ("m.ceil(89.9) --> ", m.ceil(89.9))
print ("m.floor(89.9)--> ", m.floor(89.9))

exp(-200)    -->  1.3838965267367376e-87
log(100,2)   -->  6.643856189774725
log(100,10)  -->  2.0
log10(100)   -->  2.0
m.cos(30)    -->  0.15425144988758405
m.sin(30)    -->  -0.9880316240928618
m.tan(30)    -->  -6.405331196646276
m.sqrt(324)  -->  18.0
m.ceil(89.9) -->  90
m.floor(89.9)-->  89

8 Strings

8.1 Indexing in string

In [227]:
var = 'Hello World!'
print ("var      --> ", var)
print ("var[0]   --> ", var[0])
print ("var[1:5] --> ", var[1:5])
print ("var[:-5] --> ", var[:-5])

var      -->  Hello World!
var[0]   -->  H
var[1:5] -->  ello
var[:-5] -->  Hello W

8.2 String length, upper, lower

In [230]:
var = 'Hello World!'
print ("String --> ", var)
print ("Length --> : ", len(var))
print ("Upper  --> : ", var.upper())
print ("Lower  --> : ", var.lower())

String -->  Hello World!
Length --> :  12
Upper  --> :  HELLO WORLD!
Lower  --> :  hello world!

8.3 String formatting

In [237]:
name=input("Enter your name: ")
age=int(input("Enter your age : "))
price=float(input("Enter the book price: "))
s="\nYour name is %s, age is %d and book price is %f" %(name,age,price)
print (s)
z="\nYour name is %s, age is %d and book price is %f" %(name.upper(),age,price)
print (z)

Enter your name:  Aniket
Enter your age :  19
Enter the book price:  500.75

Your name is Aniket, age is 19 and book price is 500.750000

Your name is ANIKET, age is 19 and book price is 500.750000

8.4 String in Triple Quotes

In [240]:
para_str = """This is a long string that is made up of
several lines and non-printable characters such as
TAB ( \t ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [ \n ], or just a NEWLINE within
the variable assignment will also show up.
"""
print (para_str)

This is a long string that is made up of
several lines and non-printable characters such as
TAB ( 	 ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [
 ], or just a NEWLINE within
the variable assignment will also show up.

8.5 String strip

In [243]:
var =" Aniket   Gupta    "

print("String    --> ", var)
print("Length    --> ", len(var))
print("var strip --> ", var.strip())
print("Length of var after strip --> ", len(var.strip()))

String    -->   Aniket   Gupta
Length    -->  19
var strip -->  Aniket   Gupta
Length of var after strip -->  14

8.6 String split

In [256]:
var =" Indian,   Army    "

print("String    --> ", var)
print("Length    --> ", len(var))
print("var split --> ", var.split())
print("var split --> ", var.split(' '))
print("var split --> ", var.split(','))

# Strip + Split
print("var split --> ", var.strip().split(','))

String    -->   Indian,   Army
Length    -->  19
var split -->  ['Indian,', 'Army']
var split -->  ['', 'Indian,', '', '', 'Army', '', '', '', '']
var split -->  [' Indian', '   Army    ']
var split -->  ['Indian', '   Army']


8.7 Count in string

In [265]:
var=" Aniket Gupta    "
print ("String       --> ", var)
print ("Count of ' ' --> ", var.count(' '))
print ("Count of 't' --> ", var.count('t'))
print ("Count of 'a ' --> ", var.count('a '))
print ("Count of '  ' --> ", var.count('  '))
print ("Count of 'ni' --> ", var.count('ni'))

String       -->   Aniket Gupta
Count of ' ' -->  6
Count of 't' -->  2
Count of 'a ' -->  1
Count of '  ' -->  2
Count of 'ni' -->  1

8.8 Reverse a String

In [281]:
var="Hello World"
print ("String   -> ", var)
print ("var[::1] -> ", var[::1])
print ("var[::2] -> ", var[::2])
print ("var[::3] -> ", var[::3])
print ("var[::-1]-> ", var[::-1])
print ("var[::-2]-> ", var[::-2])

var=var[::-1]
print ("var after reverse -> ", var)

String   ->  Hello World
var[::1] ->  Hello World
var[::2] ->  HloWrd
var[::3] ->  HlWl
var[::-1]->  dlroW olleH
var[::-2]->  drWolH
var after reverse ->  dlroW olleH

8.9 Palindrome

In [277]:
s1="Indian Army"
s2="malayalam"
s3="madam"
s4="teacher"
print ("s1-> ", s1==s1[::-1])
print ("s2-> ", s2==s2[::-1])
print ("s3-> ", s3==s3[::-1])
print ("s4-> ", s4==s4[::-1])

s1->  False
s2->  True
s3->  True
s4->  False

9 Random Numbers/String

9.1 Generate random number between 0 and 1

In [285]:
import random as r
print (r.random())
print (r.random())
print (round(r.random(),4))

0.20122685206511892
0.2355396618133625
0.854

9.2 Generate random integer number

In [6]:
import random as r
print (r.randint(1, 100))
print (r.randint(1, 100))
print (r.randint(-10, -5))
print (r.randint(-10, 10))

69
36
-6
-8

9.3 Generate random real number

In [4]:
import random as r
print (r.uniform(1, 100))
print (r.uniform(1, 100))
print (r.uniform (-10, 10))
print (r.uniform (-10, 10))
print (round(r.uniform (-10, 10),2))

43.08539492579782
23.11256024681801
-3.203205708588781
-2.369256366777255
3.71

9.4 Select sample from a list of elements

In [11]:
import random as r
A=[1, 4, 5, 6, 7, 8, 9, 10]
print (r.sample(A, 4))
print (r.sample(A, 2))
print(r.sample(range(0,5),3))
print (r.sample(range(-100,100), 5))

[7, 1, 6, 5]
[8, 7]
[0, 3, 1]
[2, 20, -17, -25, 52]


9.5 Generate random string

In [14]:
import string as s
import random as r
print ("String        --> ",s.ascii_letters)

passwd=r.sample(s.ascii_letters, 6)
print ("Selected Char --> ",passwd)

passwd1="".join(passwd)
print ("passwd1       --> ",passwd1)

passwd2="+".join(passwd)
print ("passwd2       --> ",passwd2)

passwd3="*".join(passwd)
print ("passwd3       --> ",passwd3)

String        -->  abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
Selected Char -->  ['T', 'K', 'E', 'C', 'D', 'n']
passwd1       -->  TKECDn
passwd2       -->  T+K+E+C+D+n
passwd3       -->  T*K*E*C*D*n

9.6 Generate random digits

In [17]:
import string as s
import random as r
print ("Digits --> ",s.digits)

otp=r.sample(s.digits, 5)
print ("Selected num1 --> ",otp)
otp="".join(otp)
print ("otp1          --> ",otp)

otp=r.sample(s.digits, 5)
print ("Selected num2 --> ",otp)
otp="".join(otp)
print ("otp2          --> ",otp)

otp=r.sample(s.digits, 5)
print ("Selected num2 --> ",otp)
otp="".join(otp)
print ("otp3          --> ",otp)

Digits -->  0123456789
Selected num1 -->  ['6', '0', '1', '5', '8']
otp1          -->  60158
Selected num2 -->  ['3', '9', '4', '6', '5']
otp2          -->  39465
Selected num2 -->  ['0', '6', '8', '5', '2']
otp3          -->  06852

9.7 Generate random string + digits

In [20]:
import string as s
import random as r
print ("String + Digits --> ",s.ascii_letters + s.digits)

mixPasswd=r.sample(s.ascii_letters + s.digits, 5)
print ("\nSelected Str1 --> ",mixPasswd)
mixPasswd="".join(mixPasswd)
print ("mixPasswd1    --> ",mixPasswd)

mixPasswd=r.sample(s.ascii_letters + s.digits, 6)
print ("\nSelected Str2 --> ",mixPasswd)
mixPasswd="".join(mixPasswd)
print ("mixPasswd2    --> ",mixPasswd)

splChar="#@!~%^&*()_+=-[]{}|"
mixPasswd=r.sample(splChar + s.ascii_letters + s.digits, 8)
print ("\nSelected Str3 --> ",mixPasswd)
mixPasswd="".join(mixPasswd)
print ("mixPasswd3    --> ",mixPasswd)

String + Digits -->  abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789

Selected Str1 -->  ['J', 'B', 'F', 's', 'm']
mixPasswd1    -->  JBFsm

Selected Str2 -->  ['a', 'w', 'D', 'P', 'x', 'g']
mixPasswd2    -->  awDPxg

Selected Str3 -->  ['f', 'l', '{', 'i', 't', 'G', 'h', 'D']
mixPasswd3    -->  fl{itGhD

10 Exception Handaling

10.1 Error Generation

In [24]:
for i in range(-5,6):
	print ("100/",i," --> ", 100/i)

100/ -5  -->  -20.0
100/ -4  -->  -25.0
100/ -3  -->  -33.333333333333336
100/ -2  -->  -50.0
100/ -1  -->  -100.0

ZeroDivisionError: division by zero

10.2 Exception handaling for division by zero

In [29]:
for i in range(-10,10):
    try:
        print("100/",i,"->", 100/i)
    except:
        print("ERROR")

100/ -10 -> -10.0
100/ -9 -> -11.11111111111111
100/ -8 -> -12.5
100/ -7 -> -14.285714285714286
100/ -6 -> -16.666666666666668
100/ -5 -> -20.0
100/ -4 -> -25.0
100/ -3 -> -33.333333333333336
100/ -2 -> -50.0
100/ -1 -> -100.0
ERROR
100/ 1 -> 100.0
100/ 2 -> 50.0
100/ 3 -> 33.333333333333336
100/ 4 -> 25.0
100/ 5 -> 20.0
100/ 6 -> 16.666666666666668
100/ 7 -> 14.285714285714286
100/ 8 -> 12.5
100/ 9 -> 11.11111111111111


10.3 Exception handaling for array out of index

In [32]:
L=[51,20,65,45,85,76]

for i in range(10):
	try:
		print (i," --> ",L[i])
	except:
		print ("error")

0  -->  51
1  -->  20
2  -->  65
3  -->  45
4  -->  85
5  -->  76
error
error
error
error

10.4 Exception handaling for file not found

In [35]:
fileName=input("Enter File Name: ")
fp=open(fileName)	
fp.close()
print ("Done")

Enter File Name:  file.txt

FileNotFoundError: [Errno 2] No such file or directory: 'file.txt'


10.5 Exception handaling for file not found

In [40]:
fileName=input("Enter File Name: ")
try:
	fp=open(fileName)	
	fp.close()
except:
	print ("Error !! \"%s\" File Not Found"%(fileName))

print ("Done")

Enter File Name:  file.txt

Error !! "file.txt" File Not Found
Done

11 Data Structure 1 - List

11.1 List Declaration

In [44]:
L = ["Aniket",  'Gupta', 9.99,  10 ]
print ("Original List: ", L)
print ("Number of elements in list: ", len(L))

Original List:  ['Aniket', 'Gupta', 9.99, 10]
Number of elements in list:  4

11.2 List Iteration

In [47]:
L = ["Aniket",  'Gupta', 9.99,  10 ]
print ("Original List: ", L)
i=0
while i < len(L):
	print (L[i])
	i+=1

Original List:  ['Aniket', 'Gupta', 9.99, 10]
Aniket
Gupta
9.99
10

11.3 List Iteration using for loop

In [52]:
L = ["Aniket",  'Gupta', 9.99,  10 ]
print ("Original List: ", L)
for i in range(0,len(L)):
    print(L[i])

Original List:  ['Aniket', 'Gupta', 9.99, 10]
Aniket
Gupta
9.99
10

11.4 List Iteration using for loop

In [55]:
L = ["Aniket",  'Gupta', 9.99,  10 ]
print ("Original List: ", L)
for r in L:
	print (r)

Original List:  ['Aniket', 'Gupta', 9.99, 10]
Aniket
Gupta
9.99
10

11.5 Adding and deleting from list

In [58]:
L = ["Aniket",  'Gupta', 9.99,  10 ]
print ("Original List       --> ", L)

L.append("Ajay")
print ("List After Adding   --> ", L)

del L[1]
print ("List After Deleting --> ", L)

Original List       -->  ['Aniket', 'Gupta', 9.99, 10]
List After Adding   -->  ['Aniket', 'Gupta', 9.99, 10, 'Ajay']
List After Deleting -->  ['Aniket', 9.99, 10, 'Ajay']

11.6 Sum/Average of List

In [63]:
L=[3, 6, 9, 12, 5, 3, 2]
print ("Original List --> ", L)

print ("Sum     --> ", sum(L))
print ("Average --> ", sum(L)/len(L))
print ("Average --> ", sum(L)//len(L))

print ("L * 3   --> ", L * 3) 
print ("L + L   --> ", L + L)

Original List -->  [3, 6, 9, 12, 5, 3, 2]
Sum     -->  40
Average -->  5.714285714285714
Average -->  5
L * 3   -->  [3, 6, 9, 12, 5, 3, 2, 3, 6, 9, 12, 5, 3, 2, 3, 6, 9, 12, 5, 3, 2]
L + L   -->  [3, 6, 9, 12, 5, 3, 2, 3, 6, 9, 12, 5, 3, 2]

11.7 Min/Max/Sort the list

In [67]:
L=[3, 6, 9, 12, 5, 3, 2]
print ("Original List --> ", L)

print ("max-> ", max(L))
print ("min-> ", min(L))

print ("\nBefore Sort            --> ", L)
L.sort()

print ("After Sort (Asending)  --> ", L)

L.sort(reverse=True)
print ("After Sort (Desending) --> ", L)

Original List -->  [3, 6, 9, 12, 5, 3, 2]
max->  12
min->  2

Before Sort            -->  [3, 6, 9, 12, 5, 3, 2]
After Sort (Asending)  -->  [2, 3, 3, 5, 6, 9, 12]
After Sort (Desending) -->  [12, 9, 6, 5, 3, 3, 2]

11.8 Merge lists and select elements

In [70]:
L1 = [3, 6, 9]
L2 = [12, 5, 3, 2]
L3 = L1 + L2
print ("L1 --> ",L1)
print ("L2 --> ",L2)
print ("L3 --> ",L3)

print ("\nL3[2:]  --> ",L3[2:])
print ("L3[2:5] --> ",L3[2:5])
print ("L3[:-1] --> ",L3[:-1])
print ("L3[::2] --> ",L3[::2])

L1 -->  [3, 6, 9]
L2 -->  [12, 5, 3, 2]
L3 -->  [3, 6, 9, 12, 5, 3, 2]

L3[2:]  -->  [9, 12, 5, 3, 2]
L3[2:5] -->  [9, 12, 5]
L3[:-1] -->  [3, 6, 9, 12, 5, 3]
L3[::2] -->  [3, 9, 5, 2]

11.9 Multiply all elements of the list by a constant

In [73]:
L = [12, 5, 3, 2, 7]
print ("Original List --> ", L)

newL = [ i * 5 for i in L ]
print ("After Multiply with constant --> ", newL)

#To print elements of L 5 times
print(L*5)

Original List -->  [12, 5, 3, 2, 7]
After Multiply with constant -->  [60, 25, 15, 10, 35]
[12, 5, 3, 2, 7, 12, 5, 3, 2, 7, 12, 5, 3, 2, 7, 12, 5, 3, 2, 7, 12, 5, 3, 2, 7]

11.10 Searching in the list

In [92]:
L=[3, 6, 9, 12, 5, 3, 2]
print ("Original List --> ", 6 in L)
print ("Original List --> ", 10 in L)
print ("Original List --> ", 12 in L)

if (6 in L) == True:
	print ("Present")
else:
	print ("Not Present")

if (10 in L) == False:
	print ("Not Present")
else:
	print ("Present")

Original List -->  True
Original List -->  False
Original List -->  True
Present
Not Present

12 Data Structure 2 - Dictionary

12.1 Declare Dictionary

In [96]:
CGPA={1:8.9, 2:5.6, 4:6.7, 7:9.1, 8:5.3}
print ("Dictionary      --> ", CGPA)
print ("Num of elements --> ", len(CGPA))

print ("CGPA of 1       --> ", CGPA[1])
print ("CGPA of 4       --> ", CGPA[4])
print ("CGPA of 7       --> ", CGPA[7])
print ("CGPA of 8       --> ", CGPA[8])

Dictionary      -->  {1: 8.9, 2: 5.6, 4: 6.7, 7: 9.1, 8: 5.3}
Num of elements -->  5
CGPA of 1       -->  8.9
CGPA of 4       -->  6.7
CGPA of 7       -->  9.1
CGPA of 8       -->  5.3

12.2 Triverse dictionary

In [99]:
CGPA={1:8.9, 2:5.6, 4:6.7, 7:9.1, 8:5.3}
for k in CGPA:
	print ("CGPA of ", k, " --> ", CGPA[k])

CGPA of  1  -->  8.9
CGPA of  2  -->  5.6
CGPA of  4  -->  6.7
CGPA of  7  -->  9.1
CGPA of  8  -->  5.3

12.3 Getting Keys and Values

In [102]:
CGPA={1:8.9, 2:5.6, 4:6.7, 7:9.1, 8:5.3}
print ("Dictionary --> ", CGPA)
print ("Keys       --> ", list(CGPA.keys()))
print ("Values     --> ", list(CGPA.values()))

Dictionary -->  {1: 8.9, 2: 5.6, 4: 6.7, 7: 9.1, 8: 5.3}
Keys       -->  [1, 2, 4, 7, 8]
Values     -->  [8.9, 5.6, 6.7, 9.1, 5.3]

12.4 Updating, Adding and Deleting from Dictionary

In [107]:
CGPA={1:8.9,2:5.6,4:6.7,7:9.1,8:5.3}
print ("Original Dictionary --> ", CGPA)

CGPA[4] = 9.2
print ("After Updating (4)  --> ", CGPA)

CGPA[3] = 8.6
print ("After Adding (3)    --> ", CGPA)

del CGPA[1]
print ("After Deleting (1)  --> ", CGPA)

CGPA.clear()
print ("After Clear         --> ", CGPA)

del CGPA   #(del CGPA) deletes the dictionary entirely, removing it from memory.
print ("After Delete        --> ", CGPA)

Original Dictionary -->  {1: 8.9, 2: 5.6, 4: 6.7, 7: 9.1, 8: 5.3}
After Updating (4)  -->  {1: 8.9, 2: 5.6, 4: 9.2, 7: 9.1, 8: 5.3}
After Adding (3)    -->  {1: 8.9, 2: 5.6, 4: 9.2, 7: 9.1, 8: 5.3, 3: 8.6}
After Deleting (1)  -->  {2: 5.6, 4: 9.2, 7: 9.1, 8: 5.3, 3: 8.6}
After Clear         -->  {}

NameError: name 'CGPA' is not defined

12.5 Checking for Key in Dictionary

In [110]:
CGPA={1:8.9, 2:5.6, 4:6.7, 7:9.1, 8:5.3}
print ("Original Dictionary --> ", CGPA)
print ("Is Key 2 Present    --> ", 2 in CGPA)
print ("Is Key 9 Present    --> ", 9 in CGPA)

Original Dictionary -->  {1: 8.9, 2: 5.6, 4: 6.7, 7: 9.1, 8: 5.3}
Is Key 2 Present    -->  True
Is Key 9 Present    -->  False

12.6 More example1

In [113]:
HomeTown={"Prashant":"Delhi", "Govind":"Gwalior", "Anil":"Morena", "Pankaj":"Agra"}
print ("Original Dictionary --> ", HomeTown)
print ("Home Town of Prashant is --> ", HomeTown["Prashant"])
print ("Home Town of Govind is   --> ", HomeTown["Govind"])
print ("Home Town of Anil is     --> ", HomeTown["Anil"])
print ("Home Town of Pankaj is   --> ", HomeTown["Pankaj"])

Original Dictionary -->  {'Prashant': 'Delhi', 'Govind': 'Gwalior', 'Anil': 'Morena', 'Pankaj': 'Agra'}
Home Town of Prashant is -->  Delhi
Home Town of Govind is   -->  Gwalior
Home Town of Anil is     -->  Morena
Home Town of Pankaj is   -->  Agra

12.7 More example2

In [116]:
HomeTown={"Prashant":"Delhi", "Govind":"Gwalior", "Anil":"Morena", "Pankaj":"Agra"}
print ("Original Dictionary --> ", HomeTown)

for d in HomeTown:
	print ("Home Town of ", d, " is  --> ", HomeTown[d])

Original Dictionary -->  {'Prashant': 'Delhi', 'Govind': 'Gwalior', 'Anil': 'Morena', 'Pankaj': 'Agra'}
Home Town of  Prashant  is  -->  Delhi
Home Town of  Govind  is  -->  Gwalior
Home Town of  Anil  is  -->  Morena
Home Town of  Pankaj  is  -->  Agra

13 Data Structure 3 - Tuple

13.1 Declare Tuple

In [1]:
# Method 1
T = ("Aniket", 'Gupta', 9.91, 6)

print ("T               -->", T)
print ("Num of elements -->", len(T))
print ("Type of Object  -->", type(T))

T               --> ('Aniket', 'Gupta', 9.91, 6)
Num of elements --> 4
Type of Object  --> <class 'tuple'>

In [10]:
# Method 2
T = tuple(["Aniket", 'Gupta', 9,.91, 6])   
G = tuple(("Ajay", 'Sharma', 3.78, 9))  

print ("T               -->", T)
print ("Num of elements -->", len(T))
print ("Type of Object  -->", type(T))

print ("T               -->", G)
print ("Num of elements -->", len(G))
print ("Type of Object  -->", type(G))

T               --> ('Aniket', 'Gupta', 9, 0.91, 6)
Num of elements --> 5
Type of Object  --> <class 'tuple'>
T               --> ('Ajay', 'Sharma', 3.78, 9)
Num of elements --> 4
Type of Object  --> <class 'tuple'>

13.2 Tuple Iteration

In [8]:
T = tuple(["Aniket", 'Gupta', 9,.91, 6])   
print ("T -->", T)

i = 0
while i < len(T):
    print (T[i])
    i += 1

T --> ('Aniket', 'Gupta', 9, 0.91, 6)
Aniket
Gupta
9
0.91
6

13.3 Tuple iteration using for loop

In [13]:
T = ("Aniket", 'Gupta', 9.91, 6)
print ("T -->", T)

for i in range(0, len(T)):
    print (T[i])

T --> ('Aniket', 'Gupta', 9.91, 6)
Aniket
Gupta
9.91
6

13.4 Tuple iteration using for loop

In [16]:
T = ("Aniket", 'Gupta', 9.91, 6)
print ("T -->", T)

for s in T:
    print (s)

T --> ('Aniket', 'Gupta', 9.91, 6)
Aniket
Gupta
9.91
6

13.5 Accessing/Selecting in Tuple

In [23]:
# Example 1:
T = (13, 65, 76, 82, 95, 30, 23)
print ("T     -->", T)

print ("T[1]  -->", T[1])
print ("T[2]  -->", T[2])
print ("T[-1] -->", T[-1])
print ("T[-2] -->", T[-2])

T     --> (13, 65, 76, 82, 95, 30, 23)
T[1]  --> 65
T[2]  --> 76
T[-1] --> 23
T[-2] --> 30

In [21]:
# Example 2:
T = (30, 56, 91, 12, 35, 43, 62)
print ("T        -->", T)

print ("T[1:3]   -->", T[1:3])
print ("T[2:]    -->", T[2:])
print ("T[2:5]   -->", T[2:5])
print ("T[:2]    -->", T[:2])
print ("T[:-1]   -->", T[:-1])
print ("T[-4:-1] -->", T[-4:-1])

T        --> (30, 56, 91, 12, 35, 43, 62)
T[1:3]   --> (56, 91)
T[2:]    --> (91, 12, 35, 43, 62)
T[2:5]   --> (91, 12, 35)
T[:2]    --> (30, 56)
T[:-1]   --> (30, 56, 91, 12, 35, 43)
T[-4:-1] --> (12, 35, 43)

13.6 Sum/Average of Tuple

In [26]:
T = (3, 6, 9, 12, 5, 3, 2)
print ("T       -->", T)
print ("Sum     -->", sum(T))
print ("Average -->", sum(T)/len(T))
print ("Average -->", sum(T)//len(T))

T       --> (3, 6, 9, 12, 5, 3, 2)
Sum     --> 40
Average --> 5.714285714285714
Average --> 5


13.7 Min/Max in Tuple

In [29]:
# Example 1
T = (3, 6, 9, 12, 5, 3, 2)               
print ("T   -->", T)
print ("Max -->", max(T))
print ("Min -->", min(T))

T   --> (3, 6, 9, 12, 5, 3, 2)
Max --> 12
Min --> 2

In [31]:
# Example 2
T = ("Ram", "Shyam", "Human", "Ant")      
print ("T   -->", T)
print ("Max -->", max(T))
print ("Min -->", min(T))

T   --> ('Ram', 'Shyam', 'Human', 'Ant')
Max --> Shyam
Min --> Ant

13.8 Merging Tuples

In [36]:
T1 = (45, 67, 49)
T2 = (12, 65, 30, 62)

print ("T1 -->", T1)
print ("T2 -->", T2)

T3 = T1 + T2
print ("T3 -->", T3)

T4 = T1 + T2 + T1 + T2
print ("T4 -->", T4)

T1 --> (45, 67, 49)
T2 --> (12, 65, 30, 62)
T3 --> (45, 67, 49, 12, 65, 30, 62)
T4 --> (45, 67, 49, 12, 65, 30, 62, 45, 67, 49, 12, 65, 30, 62)

13.9 Merging part of Tuples

In [39]:
T1 = (45, 67, 49)
T2 = (12, 65, 30, 62)

print ("T1 -->", T1)
print ("T2 -->", T2)

T3 = T1[1:2] + T2[1:3]
print ("T3 -->", T3)

T4 = T1[:-2] + T2[:-3]
print ("T4 -->", T4)

T1 --> (45, 67, 49)
T2 --> (12, 65, 30, 62)
T3 --> (67, 65, 30)
T4 --> (45, 12)

13.10 Searching in the tuple

In [42]:
T = (3, 6, 9, 12, 5, 3, 2)
print ("T       -->", T)

print ("6  in T -->", 6 in T)
print ("10 in T -->", 10 in T)
print ("12 in T -->", 12 in T)

T       --> (3, 6, 9, 12, 5, 3, 2)
6  in T --> True
10 in T --> False
12 in T --> True

13.11 Adding element to Tuple (Error)

In [45]:
T = ("Aniket", 'Gupta', 9.91, 6)
print ("T -->", T)

T[2] = 900
print ("T -->", T)

T --> ('Aniket', 'Gupta', 9.91, 6)

TypeError: 'tuple' object does not support item assignment

13.12 Adding element to Tuple

In [49]:
T = ("Aniket", 'Gupta', 9.91, 6)
print ("T         -->", T)

T1 = list(T)
T1.append(9.8)
T = tuple(T1)

print ("After Add -->", T)

T         --> ('Aniket', 'Gupta', 9.91, 6)
After Add --> ('Aniket', 'Gupta', 9.91, 6, 9.8)

13.13 Inserting element in Tuple

In [55]:
T = ("Aniket", 'Gupta', 9.91, 6)
print ("T            -->", T)

T1 = list(T)
T1.insert(2, "Amit")
T = tuple(T1)

print ("After Insert -->", T)

T            --> ('Aniket', 'Gupta', 9.91, 6)
After Insert --> ('Aniket', 'Gupta', 'Amit', 9.91, 6)

13.14 Deleting from Tuple (Error)

In [57]:
T = ("Aniket", 'Gupta', 9.91, 6)
print ("T            -->", T)

del T[1]

print ("After Delete -->", T)

T            --> ('Aniket', 'Gupta', 9.91, 6)

TypeError: 'tuple' object doesn't support item deletion

13.15 Deleting from Tuple

In [61]:
T = ("Aniket", 'Gupta', 9.91, 6)
print ("T            -->", T)

T1 = list(T)
del T1[1]
T = tuple(T1)

print ("After Delete -->", T)

T            --> ('Aniket', 'Gupta', 9.91, 6)
After Delete --> ('Aniket', 9.91, 6)

14 Data Structure 4 - Set

14.1 Declare Set

In [65]:
s = set(['A', 'B', 'E', 'F','E', 'F' ])
print ("Original set           --> ", s)
print ("Num of elements in set --> ", len(s))

Original set           -->  {'B', 'A', 'F', 'E'}
Num of elements in set -->  4

14.2 Opertions on Sets

In [68]:
a = set(['A', 'B', 'E', 'F' ])
b = set(["A", "C", "D", "E"])
print ("Original set a      --> ", a)
print ("Original set b      --> ", b)
print ("Union of a and b    --> ", a.union(b))
print ("Intersection of a,b --> ", a.intersection(b))
print ("Difference a - b    --> ", a - b)
print ("Difference a - b    --> ", a.difference(b))
print ("Difference b - a    --> ", b - a)
print ("Difference b - a    --> ", b.difference(a))
print ("Symetric Diff a - b --> ", a.symmetric_difference(b))
print ("Symetric Diff b - a --> ", b.symmetric_difference(a))

Original set a      -->  {'B', 'A', 'F', 'E'}
Original set b      -->  {'A', 'C', 'D', 'E'}
Union of a and b    -->  {'A', 'D', 'C', 'B', 'F', 'E'}
Intersection of a,b -->  {'A', 'E'}
Difference a - b    -->  {'B', 'F'}
Difference a - b    -->  {'B', 'F'}
Difference b - a    -->  {'C', 'D'}
Difference b - a    -->  {'C', 'D'}
Symetric Diff a - b -->  {'D', 'C', 'B', 'F'}
Symetric Diff b - a -->  {'D', 'C', 'B', 'F'}

14.3 Add, delete, pop element from set

In [71]:
a = set(['A', 'B', 'E', 'F' ])
print ("Original set a       --> ", a)
a.add("D")
print ("Set After Adding (D) --> ", a)
a.add("D")
print ("Set After Adding (D) --> ", a)
a.remove("D")
print ("Set After Deleting(D)--> ", a)
a.pop()
print ("Set After pop        --> ", a)
a.pop()
print ("Set After pop        --> ", a)

Original set a       -->  {'B', 'A', 'F', 'E'}
Set After Adding (D) -->  {'A', 'D', 'B', 'F', 'E'}
Set After Adding (D) -->  {'A', 'D', 'B', 'F', 'E'}
Set After Deleting(D)-->  {'A', 'B', 'F', 'E'}
Set After pop        -->  {'B', 'F', 'E'}
Set After pop        -->  {'F', 'E'}

15 Command Line Argument

15.1 Add two numbers given at cmd line

In [77]:
import sys
print (sys.argv)
a = int(sys.argv[1]) 	# First Number
b = int(sys.argv[2])	# Second Number
c = a + b
print (a, " + ", b, " --> ", c)

['C:\\Users\\tayal\\anaconda3\\Lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\tayal\\AppData\\Roaming\\jupyter\\runtime\\kernel-6973f650-f9a4-4fae-9dce-1d5d581683a0.json']

ValueError: invalid literal for int() with base 10: '-f'

15.2 Concatinate two strings given at cmd line

In [80]:
import sys
print (sys.argv)
s = sys.argv[1] + " " + sys.argv[2]
print (sys.argv[1], " + ", sys.argv[2], " --> ", s)

['C:\\Users\\tayal\\anaconda3\\Lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\tayal\\AppData\\Roaming\\jupyter\\runtime\\kernel-6973f650-f9a4-4fae-9dce-1d5d581683a0.json']
-f  +  C:\Users\tayal\AppData\Roaming\jupyter\runtime\kernel-6973f650-f9a4-4fae-9dce-1d5d581683a0.json  -->  -f C:\Users\tayal\AppData\Roaming\jupyter\runtime\kernel-6973f650-f9a4-4fae-9dce-1d5d581683a0.json

15.3 Add all the numbers given at cmd line

In [83]:
import sys
print (sys.argv)
sum=0
for s in sys.argv[1:]:
	sum += int(s)

print ("Sum is --> ", sum)

['C:\\Users\\tayal\\anaconda3\\Lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\tayal\\AppData\\Roaming\\jupyter\\runtime\\kernel-6973f650-f9a4-4fae-9dce-1d5d581683a0.json']

ValueError: invalid literal for int() with base 10: '-f'

16 File Handling

16.1 Writing 1 to 10 in file

In [87]:
fp=open('result.txt','w')	
for  i in range(1,11):
	fp.write(str(i) + "\n")	
fp.close()

print ("Writing done !! \nOpen result.txt to view the content")

Writing done !!
Open result.txt to view the content

16.2 Read a file and print its content

In [90]:
fp=open('result.txt')		
for line in fp: 		    
	print (line.strip())
fp.close()

1
2
3
4
5
6
7
8
9
10

16.3 Read from one file, Convert it to upper case and write to other file